<div class="background"></div>
<div class="speech">
    <div class="center">
        <i style="font-size: 12em; color: #03E3C8;" class="material-icons">hearing</i>
        <div id="waves">
            <button onclick="init()">start</button>
        </div>
        <div id="multimedia">
            <h2>Imagenes y Videos</h2>
            <hr>
            <div></div>
        </div>
    </div>
    <p></p>
    <button id="close">
        <i style="font-size: 3em; color: #fff; background-color: #C80000; border-radius: 50%; padding: .2em;" class="material-icons">close</i>
    </button>
</div>
<div class="container">
    <nav>
        <div>
            <button id="back"><i style="font-size: 4em;" class="material-icons">navigate_before</i></button>
        </div>
        <div class="circle">
            <div class="contentButtons">
                <button id="text"><i style="font-size: 3em;" class="material-icons">format_size</i></button>
                <button id="images"><i style="font-size: 3em;" class="material-icons">photo</i></button>
                <button id="videos"><i style="font-size: 3em;" class="material-icons">videocam</i></button>
            </div>
            <button><i style="font-size: 5em;" class="material-icons">settings</i></button>
        </div>
        <div class="time"><span>--:--</span></div>
    </nav>
    <div class="buttons">
        <button id="follow" style="width: 15em; height: 15em"><i style="font-size: 6em;"
                class="fas fa-map-marker-alt"></i></button>
        <button id="talk"><i style="font-size: 12em;" class="material-icons">mic</i></button>
        <button id="content" style="width: 15em; height: 15em"><i style="font-size: 6em;"
                class="material-icons">dashboard</i></button>
    </div>
    <div class="content">
        <div class="background">
            <div class="back-text"></div>
            <div class="back-scroll"></div>
        </div>
        <div class="media">
            <div class="text">
                <p></p>
            </div>
            <div class="images">
                
            </div>
            <div class="videos">
                
            </div>
        </div>
    </div>
    <div class="follow">
        <img src="http://localhost:5000/video_feed" alt="Video feed del follow">
        <div class="rectangle"></div>
        <div class="rectangle left"></div>
        <button id="startFollow">EMPEZAR</button>
    </div>
</div>