* {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

button:focus {
  outline: 0;
}

body, html {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/login_fondo.png);
  background-position: center bottom;
  background-size: cover;
}

h1 {
  text-align: center;
  padding: .3em;
}

body>div.background {
  top: 0;
  left: -40%;
  position: absolute;
  width: 180%;
  height: 90%;
  background: linear-gradient(180deg, rgba(3, 227, 200, 0.8) 0%, rgba(255, 255, 255, 0) 86.2%), #2444B4;
  border-bottom-right-radius: 200%;
  border-bottom-left-radius: 200%;
}

div.container {
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

nav {
  background-color: #f5f5f5;
  width: 100%;
  height: 3em;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}

nav div button#back {
  display: none;
  justify-content: center;
  border: none;
  background-color: #ffffff00;
}

div.buttons {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.time {
  padding: .7em;
}

div.time span {
  font-size: 1.2em;
  align-self: center;
  color: #333;
}

div.buttons button {
  border-radius: 50%;
  /*height: 50%;*/
  background-color: #f5f5f5;
  width: 20em;
  height: 20em;
  border: none;
  -webkit-box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.75);
  outline: none;
}

.mdc-button {
  background-color: #f5f5f5;
}

div.circle {
  width: 15em;
  height: 15em;
  background-color: #f5f5f5;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: -8em;
  margin-left: auto;
  margin-right: auto;
}

div.circle>button {
  display: flex;
  justify-content: center;
  width: 25%;
  border: none;
  margin-bottom: 2em;
  background-color: #ffffff00;
}

div.circle div.contentButtons {
  display: none;
  width: 70%;
  justify-content: center;
  margin-bottom: 2em;
}

div.circle div.contentButtons button {
  background-color: #C4C4C400;
  border-radius: 10px;
  padding: .1em;
  border: none;
  margin: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.circle div.contentButtons button:first-of-type {
  background-color: #C4C4C4;
}

div.follow {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  padding-top: 3em;
}

div.follow img {
  width: 100%;
  height: 100%;
  background-color: #333;
}

div.follow div.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 9em;
  background-color: #ffffff00;
  background-image: url(../images/video_rectangle.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

div.follow div.rectangle.left {
  left: auto;
  right: 0;
  background-position: right center;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

div.follow div.start {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
}

div.follow button#startFollow, div.follow button#endFollow {
  width: 100%;
  font-size: 1.4em;
  background: #03E3C8;
  border: 9px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

div.follow div.names {
  display: none;
  flex-direction: column;
  width: 70%;
  max-height: 20em;
  box-sizing: border-box;
  box-shadow: 4px 11px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background-color: #fff;
}

div.follow div.names>div {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px #333 solid;
}

div.follow div.names>div:first-of-type {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

div.follow div.names div button {
  align-self: center;
  width: 90%;
  height: 100%;
  padding: .5em;
  font-size: 1.3em;
  text-align: left;
  background-color: #fff;
  border: none;
}

div.follow div.names div button:last-of-type {
  width: auto;
}

div.follow div.names>div:first-of-type button {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding-top: .7em;
}

div.follow div.names>div:first-of-type {
  border: none;
}

div.follow button#train {
  position: absolute;
  right: 1em;
  bottom: 1em;
  border: none;
  background-color: #C4C4C400;
}

div.content {
  display: none;
  justify-content: center;
  align-items: center;
  height: 80%;
}

div.content div.media, div.content>div.background {
  position: absolute;
  width: 50em;
  height: 30em;
  padding-right: 3em;
  margin-top: 2em;
  overflow-y: scroll;
}

div.content>div.background {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 54.63em;
  height: 31em;
}

div.content div.background div {
  background-color: #e0e0e0;
  border-radius: 20px;
}

div.content div.background div.back-text {
  width: 51em;
}

div.content div.background div.back-scroll {
  width: 16px;
  align-self: flex-end;
  height: 100%;
}

div.content div.media div.images, div.videos {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

div.content div.media div div, div.speech div.center div#multimedia div div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27%;
  padding: .5em;
  /* background: linear-gradient(180deg, rgba(3, 227, 200, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #2444B4; */
  background-color: #eee;
  /* cursor: pointer; */
  margin: 1em;
  margin-top: 2em;
  border-radius: 1em;
  /* min-height: 10em; */
  /* max-height: 5em; */
}

div.content div.media div div img, div.speech div.center div#multimedia div div img {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

div.content div.media div div video, div.speech div.center div#multimedia div div video {
  width: 100%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  /* background-color: #e0e0e0; */
  width: 10px;
  /* margin-top: 10px; */
}

::-webkit-scrollbar-track {}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #C4C4C4;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

div.speech {
  z-index: 20;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  /* -webkit-transition: background-color 1s ease;
	-moz-transition: background-color 1s ease;
	-o-transition: background-color 1s ease;
  transition: background-color 1s ease; */
}

div.speech>div.center {
  background: #E5E5E5;
  padding: 3em;
  border-radius: 50%;
  box-shadow: 0px 30px 4px rgba(0, 0, 0, 0.25);
  min-height: 5em;
}

div.speech i {
  /* -webkit-transition: all .4s;
	-moz-transition: all .4s;
	-o-transition: all .4s;
  transition: all .4s; */
}

div.speech>button#close {
  position: absolute;
  left: 2em;
  bottom: 2em;
  height: 7em;
  width: 7em;
  border-radius: 50%;
}

div.speech>p {
  color: #f5f5f5;
  font-size: 2.5em;
  position: absolute;
  bottom: 18%;
  margin: auto;
  max-width: 80%;
}

div.speech div.center div#waves {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  font-family: sans-serif;
  text-align: center;
  color: #fff;
  background: #00000000;
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
}

div.speech div.center div#waves div {
  display: inline-block;
  width: 10px;
  height: 200px;
  margin: 0 7px;
  background: #000;
  transform: scaleY(.5);
  opacity: .25;
}

div.speech div.center div#waves button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5em;
  height: 2em;
  margin-left: -2.5em;
  margin-top: -1em;
  z-index: 100;
  padding: .25em .5em;
  color: #fff;
  background: #000;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.15em;
  font-weight: 200;
  box-shadow: 0 0 10px rgba(255, 255, 255, .5);
  transition: box-shadow .5s;
}

div.speech div.center div#waves button:hover {
  box-shadow: 0 0 30px 5px rgba(255, 255, 255, .75);
}

div.speech div.center div#multimedia {
  width: 45em;
  max-height: 60%;
  display: none;
  flex-direction: column;
  justify-content: stretch;
}

div.speech div.center div#multimedia h2 {
  padding-bottom: 1em;
  font-size: 2em;
}

div.speech div.center div#multimedia div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

div.speech div.center div#multimedia div {}