* {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

button:focus {
  outline: 0;
}

body, html {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/login_fondo.png);
  background-position: center bottom;
  background-size: cover;
}

h1 {
  text-align: center;
  padding: .3em;
}

body>div.background {
  top: 0;
  left: -40%;
  position: absolute;
  width: 180%;
  height: 90%;
  background: linear-gradient(180deg, rgba(3, 227, 200, 0.8) 0%, rgba(255, 255, 255, 0) 86.2%), #2444B4;
  border-bottom-right-radius: 200%;
  border-bottom-left-radius: 200%;
}

div.container {
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

nav {
  background-color: #f5f5f5;
  width: 100%;
  height: 3em;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}

nav div button#back {
  display: none;
  justify-content: center;
  border: none;
  background-color: #ffffff00;
}

div.buttons {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.time {
  padding: .7em;
}

div.time span {
  color: #333;
}

div.buttons button {
  border-radius: 50%;
  /*height: 50%;*/
  background-color: #f5f5f5;
  width: 20em;
  height: 20em;
  border: none;
  -webkit-box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.75);
  outline: none;
}

.mdc-button {
  background-color: #f5f5f5;
}

div.circle {
  width: 15em;
  height: 15em;
  background-color: #f5f5f5;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: -8em;
  margin-left: auto;
  margin-right: auto;
}

div.circle>button {
  display: flex;
  justify-content: center;
  width: 25%;
  border: none;
  margin-bottom: 2em;
  background-color: #ffffff00;
}

div.circle div.contentButtons {
  display: none;
  width: 70%;
  justify-content: center;
  margin-bottom: 2em;
}

div.circle div.contentButtons button {
  background-color: #C4C4C400;
  border-radius: 10px;
  padding: .1em;
  border: none;
  margin: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.circle div.contentButtons button:first-of-type {
  background-color: #C4C4C4;
}

div.follow {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  padding-top: 3em;
}

div.follow img {
  width: 100%;
  height: 100%;
  background-color: #333;
}

div.follow div.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 9em;
  background-color: #ffffff00;
  background-image: url(../images/video_rectangle.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

div.follow div.rectangle.left {
  left: auto;
  right: 0;
  background-position: right center;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

div.follow button#startFollow {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
  font-size: 1.4em;
  bottom: 5em;
  background: #03E3C8;
  border: 9px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

div.content {
  display: none;
  justify-content: center;
  align-items: center;
  height: 80%;
}

div.content div.media, div.content>div.background {
  position: absolute;
  width: 50em;
  height: 30em;
  padding-right: 3em;
  margin-top: 2em;
  overflow-y: scroll;
}

div.content>div.background {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 54.63em;
  height: 31em;
}

div.content div.background div {
  background-color: #e0e0e0;
  border-radius: 20px;
}

div.content div.background div.back-text {
  width: 51em;
}

div.content div.background div.back-scroll {
  width: 16px;
  align-self: flex-end;
  height: 100%;
}

div.content div.media div.images, div.videos {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

div.content div.media div div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: .5em;
  /* background: linear-gradient(180deg, rgba(3, 227, 200, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #2444B4; */
  background-color: #eee;
  /* cursor: pointer; */
  margin: 1em;
  margin-top: 2em;
  border-radius: 1em;
  min-height: 10em;
}

div.content div.media div div img {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

div.content div.media div div video {
  width: 100%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  /* background-color: #e0e0e0; */
  width: 10px;
  /* margin-top: 10px; */
}

::-webkit-scrollbar-track {}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #C4C4C4;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}